*, *:before, *:after {
  box-sizing: border-box;
}

body {
background-color: lightgray;
   }

.container {
  margin: auto;
  width: 100%;
}


h1 {
    font-family:  serif;
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
    margin-left: 20px;
}


/* Modern Luxury Travel text*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.emphasis {
    display: inline-block;
    font-family: 'Roboto+Mono', monospace;
    font-size: 30px;
    font-weight: 300;
    margin: auto;
}

.preview {
    margin: auto;
    height: 200px;
    display: inline-block;
    width: 100%;
    background-position: center; 
    background-size: cover;
}

.preview.baku {  
    background-image: url("../images/baku.jpg");  
}

.preview.london {
    background-image: url("../images/london.png");
}

.preview.madrid {
    background-image: url("../images/madrid.jpg");
}

.preview.rome {
    background-image: url("../images/rome.jpg");
}

/* On screens that are 575px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (min-width: 375px) and (max-width: 575px){
  .preview {
        margin: 1%;
        width: 100%;
    }
}

/*On screens that are 576px or more, go from one column to two columns*/
@media screen and (min-width: 576px) and (max-width: 990px) {
  .preview {
        margin: auto;
        width: 48%;
    }    
}
    
/* On screens that are 991px or more, create four equal columns that float next to each other*/
@media screen and (min-width: 991px){
   .preview {
         margin: auto;
         width: 20%;
    }    
}
